
@page
@model BooksModel

@{
    ViewData["Title"] = "Просмотр библиотек";
}
@section Header {
}

<div class="login-container">
    <div class="login-inner-container">
        <div class="login-form">
            <div class="inner-container">
                <div class="inputs-container">
                    @{
                        if (Model.FoundBooks != null)
                        {
                            foreach (var i in Model.FoundBooks)
                            {
                                <div class="block-libraries">
                                    <div class="block-libraries-text">Идентификатор: @i.Id</div>
                                    <div class="block-libraries-text">Название: @i.Title</div>
                                    <div class="block-libraries-text">Автор: @i.Author</div>
                                    <div class="block-libraries-text">Описание: @i.Description</div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>

</div>



@section Footer {
}

@section Scripts {
}